* {
  font-family: "Open Sans", sans-serif;
}

.header-container {
  display: flex;
  background-color: #43281c;
  color: #fbf2c0;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.main-app-container {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  border-radius: 100px;
  background-color: #eee1d5;
  border-color: #946941;
  border-width: 1.5px;
  width: 85%;
  margin: 0px 30px;
  color: #776e51;
}

label {
  color: #946941;
}

.items-container {
  display: block;
  background-color: #eee1d5;
  width: 350px;
  margin: 20px 20px 20px 20px;
}

.name-container {
  background-color: #eee1d5;
  position: relative;
  display: inline-block;
  margin: 20px 20px 20px 20px;
}

.payment-container {
  background-color: #eee1d5;
  position: relative;
  display: inline-block;
  margin: 20px 20px 20px 20px;
}

.place-order-btn {
  display: flex;
  background-color: #deb993;
  border-radius: 100px;
  border: none;
  color: #776e51;
  width: 90%;
  padding: 5px;
  margin: 30px auto;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.orange-text {
  color: #946a42;
}

.name-label {
  background-color: #eee1d5;
  font-size: 13px;
  position: absolute;
  left: 25px;
  top: 66px;
  padding: 0 2px;
}

.card-num-label {
  background-color: #eee1d5;
  font-size: 13px;
  position: absolute;
  left: 25px;
  top: 67px;
  padding: 0 2px;
}

.ccv-num-label {
  background-color: #eee1d5;
  font-size: 13px;
  position: absolute;
  left: 25px;
  top: 125px;
  padding: 0 2px;
}

.top-main-body {
  display: flex;
  justify-content: center;
  margin: 28px 2px;
}

.top-left-main-body {
}

.top-right-main-body {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.bottom-main-body {
  display: flex;
  justify-content: center;
}

.bottom-left-main-body {
  margin: 0px 90px;
}

.bottom-right-main-body {
  margin: 0px 90px;
}
