* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #412315;
  color: #fbf2c0;
  font-size: 22px;
}

.nav-img {
  position: relative;
  right: 5px;
  top: 10px;
  width: 44px;
  height: 44px;
}

.main-page {
  display: grid;
  grid-template-areas:
    "order payment"
    "total total";
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  column-gap: 30px;
}

.order {
  grid-area: order;
}

.payment {
  grid-area: payment;
}

.total {
  grid-area: total;
}

.box-title {
  color: #885a2d;
}

.box {
  background-color: #eee1d5;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
  padding: 15px;
  margin-bottom: 20px;
}

.items-box {
}

.item {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 8fr 3fr;
  grid-template-areas:
    "quantity title price"
    "quantity options price";
  padding: 10px 0;
  border-bottom: 2px solid #ddb892;
}

.item:last-child {
  border-bottom: none;
}

.quantity {
  grid-area: quantity;
}

.title {
  grid-area: title;
}

.price {
  grid-area: price;
}

.options {
  list-style-type: none;
  grid-area: options;
}

.name-box {
}

.payment-box {
}

.list {
  grid-area: total;
  list-style-type: none;
}

button {
  background-color: #deb993;
  width: 97%;
  padding: 10px;
  margin: 20px;
  border-radius: 100px;
  border: none;
  font-size: 18px;
}
