* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #412315;
  color: #fbf2c0;
  font-size: 22px;
}

.nav-img {
  position: relative;
  right: 5px;
}

.main-page {
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-areas:
    "order payment"
    "total total";
  padding: 30px;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.box {
  background-color: #eee1d5;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.order {
  grid-area: order;
}

.payment {
  grid-area: payment;
}

.total {
  grid-area: total;
}

.items-box {
  width: 300px;
  height: 100px;
  margin: 10px;
}

.name-box {
  width: 300px;
  height: 100px;
  margin: 10px;
}

.payment-box {
  width: 300px;
  height: 100px;
  margin: 10px;
}

.list {
  grid-area: total;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 70px 70px;
  font-size: 23px;
}

button {
  background-color: #deb993;
  width: 97%;
  padding: 10px;
  margin: 20px;
  border-radius: 100px;
  border: none;
  font-size: 18px;
}
