* {
  font-family: "Open Sans", sans-serif;
}

input {
  padding: 8px;
  border-radius: 100px;
  background-color: #eee1d5;
  border: 1.5px solid #946941;
  width: 92%;
  margin: 0px 10px;
  color: #776e51;
  text-indent: 15px;
}

.ccv-num-input {
  width: 30%;
}

label {
  color: #946941;
}

.font-14 {
  font-size: 14px;
}

.name,
.payment {
  text-indent: 20px;
}

.header-container {
  display: flex;
  background-color: #43281c;
  color: #fbf2c0;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.main-app-container {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

.items-container {
  display: block;
  background-color: #eee1d5;
  width: 350px;
  margin: 20px 20px 20px 20px;
  padding: 2px 12px 10px 12px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.items-container-top {
  display: flex;
  border-bottom: 1.5px solid #ddb998;
}

.items-container-tl {
  position: relative;
  left: 0px;
}

.items-container-tm {
  position: relative;
  left: 20px;
}

.items-container-tr {
  position: relative;
  left: 150px;
}

.items-container-middle {
  display: flex;
  border-bottom: 1.5px solid #ddb998;
}

.items-container-ml {
  position: relative;
  left: 0px;
}

.items-container-mm {
  position: relative;
  left: 20px;
}

.items-container-mr {
  position: relative;
  left: 119px;
}

.items-container-bottom {
  display: flex;
}

.items-container-bl {
  position: relative;
  left: 0px;
}

.items-container-bm {
  position: relative;
  left: 20px;
}

.items-container-br {
  position: relative;
  left: 170px;
}

.name-container {
  background-color: #eee1d5;
  position: relative;
  display: inline-block;
  margin: 20px 20px 20px 20px;
  padding-bottom: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.payment-container {
  background-color: #eee1d5;
  position: relative;
  display: inline-block;
  margin: 20px 20px 20px 20px;
  padding-bottom: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.place-order-btn {
  display: flex;
  background-color: #deb993;
  border-radius: 100px;
  border: none;
  color: #776e51;
  width: 90%;
  padding: 5px;
  margin: 30px auto;
  justify-content: center;
  font-size: 18px;
}

.bold {
  font-weight: 501;
}

.orange-text {
  color: #946a42;
}

.grey-text {
  color: #746d54;
}

.name-label {
  background-color: #eee1d5;
  font-size: 14px;
  position: absolute;
  left: 40px;
  top: 66px;
  padding: 0 2px;
}

.card-num-label {
  background-color: #eee1d5;
  font-size: 14px;
  position: absolute;
  left: 40px;
  top: 67px;
  padding: 0 2px;
}

.ccv-num-label {
  background-color: #eee1d5;
  font-size: 14px;
  position: absolute;
  left: 40px;
  top: 125px;
  padding: 0 2px;
}

.top-main-body {
  display: flex;
  justify-content: center;
  margin: 28px 2px;
}

.top-left-main-body {
}

.top-right-main-body {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.bottom-main-body {
  display: flex;
  justify-content: center;
}

.bottom-left-main-body {
  margin: 0px 90px;
}

.bottom-right-main-body {
  margin: 0px 90px;
}
