* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #efefef;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #412315;
  color: #fbf2c0;
  font-size: 22px;
}

.nav-img {
  margin: 0px 5px;
}

.box {
  background-color: #eee1d5;
}

.items-container {
  width: 300px;
  height: 100px;
  border: 1px solid green;
  margin: 10px;
}

.name-container {
  width: 300px;
  height: 100px;
  border: 1px solid orange;
  margin: 10px;
}

.payment-container {
  width: 300px;
  height: 100px;
  border: 1px solid purple;
  margin: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 70px 70px;
  font-size: 23px;
  border: 1px solid blue;
}

button {
  background-color: #deb993;
  width: 97%;
  padding: 10px;
  margin: 20px;
  border-radius: 100px;
  border: none;
  font-size: 18px;
}
